# Игнорируем виртуальное окружение
.venv/
venv/

# Игнорируем файлы среды
.env
*.env

# Игнорируем базу данных SQLite
*.sqlite3

# Игнорируем статические и медиа-файлы
/static/
media/

# Игнорируем файлы кэша
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем файлы IDE и редакторов кода
.vscode/
.idea/
*.swp
*~

# Игнорируем файлы сборки Docker
.dockerignore
Dockerfile

# Игнорируем файлы зависимостей
node_modules/
