
{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Products</title>
{% endblock %}
{% block special_css %}
    <link href="{% static 'products_list.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="product-list">
    <div class="categories">
        {% if search %}
        <a href="/" class="category-btn {% if not category_filter %}selected{% endif %}">
            Все товары
        </a>
        {% endif %}
        {% for category in categories %}
            <a href="?category={{ category.category }}"
               class="category-btn {% if category.category == category_filter %}selected{% endif %}">
                {{ category.category }}
            </a>
        {% endfor %}
    </div>

    {% for product in products %}
        <div class="product-card">
            <div class="discount-badge">-{{ product.discount }}%</div>
            <a href="/product/{{ product.id }}/" class="product-name">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <p>{{ product.name }}</p>

                <p class="old-price">{{ product.old_price }}1320 тг</p>
                <p class="new-price">{{ product.price|floatformat:0 }} тг</p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
